.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
}
.button {
  padding: 7px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: teal;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
